{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cotações</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{% static 'theme/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
        <link rel="stylesheet" href="{% static 'theme/vendors/css/vendor.bundle.base.css' %}">
        <!-- endinject -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
        <!-- endinject -->
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    </head>
    <body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="{% url 'index' %}">Cotações</a>
                <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}">Cotações</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link" href="{% url 'consulta_criptomoeda' %}">
                            Cripto Moedas
                        </a>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link" href="{% url 'consulta_moedafisica' %}">
                            Moedas Física
                        </a>
                    </li>

                    <li class="nav-item nav-profile dropdown">

                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-text nav-profile-img">
                                <p class="mb-1 text-black d-inline-block">
                                    {{ request.user.first_name|default:'' }}

                                </p>
                                <span class="availability-status online"></span>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">
                                <i class="mdi mdi-logout mr-2 text-primary"></i>
                                Sair
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer text-center">
                <span class="text-muted d-block d-sm-inline-block">Copyright © {% now 'Y' %}</span
            </footer>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'theme/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'theme/vendors/js/vendor.bundle.addons.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'theme/js/off-canvas.js' %}"></script>
    <script src="{% static 'theme/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <!-- End custom js for this page-->
    {% block scripts %}
    {% endblock %}
    </body>
</html>