{% extends 'base.html' %}
{% block content %}
    <div class="row mt-5">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Consultar Moeda Física</h4>
                    <p class="card-description">
                        Selecione a Moeda Física que deseja cotar
                    </p>
                    <form id="form" class="forms-sample" action="" method="GET">
                        <div class="form-group">
                            <label>{{ form.moeda.label }}</label>
                            {{ form.moeda }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" id="resultado"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        var form = $("#form");
        $(function (){
            $("#id_moeda").change(function (){
                $.ajax({
                    'url': form.attr("action"),
                    'method': form.attr("method"),
                    'data': form.serialize(),
                    'success': function (data){
                        $("#resultado").html(data);

                    }
                });
            });
        });

    </script>
{% endblock %}