{% if dados %}
    <table class="table">
        <tbody>
            <tr>
                <td>Nome</td>
                <td>{{ dados.name|default:' - ' }}</td>
            </tr>
            <tr>
                <td>Símbolo</td>
                <td>{{ dados.code|default:' - ' }}</td>
            </tr>
            <tr>
                <td>Alta (R$)</td>
                <td>{{ dados.high|default:' - ' }}</td>
            </tr>
            <tr>
                <td>Baixa (R$)</td>
                <td>{{ dados.low|default:' - ' }}</td>
            </tr>

        </tbody>
    </table>
{% else %}
    <p>
        {{ msg }}
    </p>
{% endif %}