{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cotações</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'theme/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'theme/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'theme/css/style.css' %}">
    <!-- endinject -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left p-5">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="{% static 'theme/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'theme/vendors/js/vendor.bundle.addons.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'theme/js/off-canvas.js' %}"></script>
<script src="{% static 'theme/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!-- End custom js for this page-->
{% block scripts %}
{% endblock %}
</body>
</html>