{% extends "conta/base.html" %}
{% block content %}
    <div class="brand-logo">
        Cotações
    </div>
    <h4>Olá! Vamos começar.</h4>
    <h6 class="font-weight-light">Efetue o login para continuar.</h6>
    <form class="pt-3" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.usuario }}
        </div>
        <div class="form-group">
            {{ form.senha }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">
                Entrar
            </button>
        </div>
        <div class="text-center mt-4 font-weight-light">
            Faça seu cadastro <a href="{% url 'usuario_create' %}" class="text-primary">AQUI</a>
        </div>
    </form>
{% endblock %}