{% extends "conta/base.html" %}
{% block content %}
    <h4>Olá! Vamos fazer o seu cadastro.</h4>
    <form class="pt-3" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.first_name }}
        </div>
        <div class="form-group">
            {{ form.password }}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">
                Salvar
            </button>
        </div>
    </form>
{% endblock %}