{% extends 'base.html' %}
{% block content %}
    <div class="row mt-5">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Consultar Cripto Moeda</h4>
                    <p class="card-description">
                        Selecione a Cripto Moeda que deseja cotar
                    </p>
                    <form id="form" class="forms-sample" action="" method="GET">
                        <div class="form-group">
                            <label>{{ form.moeda.label }}</label>
                            {{ form.moeda }}
                        </div>
                    </form>
                    <canvas id="lineChart" style="height:250px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body" id="resultado"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        var form = $("#form");
        var options = {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            },
            legend: {
              display: false
            },
            elements: {
              point: {
                radius: 0
              }
            }

          };
        $(function (){
            $("#id_moeda").change(function (){
                $.ajax({
                    'url': form.attr("action"),
                    'method': form.attr("method"),
                    'data': form.serialize(),
                    'success': function (data){
                        $("#resultado").html(data.html);
                        var data_chart = {
                            labels: ["1 hora", "24 horas", "7 dias"],
                            datasets: [{
                              label: 'Variação (%)',
                              data: data.chart_data,
                              backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                              ],
                              borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                              ],
                              borderWidth: 1,
                              fill: false
                            }]
                          };
                        var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
                        var lineChart = new Chart(lineChartCanvas, {
                          type: 'line',
                          data: data_chart,
                          options: options
                        });

                    }
                });
            });
        });

    </script>
{% endblock %}