{% if dados %}
    <table class="table">
        <tbody>
            <tr>
                <td>Nome</td>
                <td>{{ dados.name|default:' - ' }}</td>
            </tr>
            <tr>
                <td>Símbolo</td>
                <td>{{ dados.symbol|default:' - ' }}</td>
            </tr>
            <tr>
                <td>Rank</td>
                <td>{{ dados.rank|default:' - ' }}</td>
            </tr>
            <tr>
                <td>Preço USD</td>
                <td>{{ dados.price_usd|default:' - ' }}</td>
            </tr>
            <tr>
                <td>Preço Bitcoin</td>
                <td>{{ dados.price_btc|default:' - ' }}</td>
            </tr>
            <tr>
                <td>Volume USD 24H</td>
                <td>{{ dados.24h_volume_usd|default:' - ' }}</td>
            </tr>
                <td><i>"Market Cap USD"</i> (Moeda X Preço)</td>
                <td>{{ dados.market_cap_usd|default:' - ' }}</td>
            </tr>
                <td>Total de Moedas válidas</td>
                <td>{{ dados.available_supply|default:' - ' }}</td>
            </tr>
            </tr>
                <td>Total de Moedas criadas </td>
                <td>{{ dados.total_supply|default:' - ' }}</td>
            </tr>
            </tr>
                <td>Total de moedas possíveis</td>
                <td>{{ dados.max_supply|default:' - ' }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
    <p>
        {{ msg }}
    </p>
{% endif %}